.skillAll{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
}

.skillAll > span{
  width: 9em;
}

.skillPoint {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.arrow {
  -webkit-clip-path: polygon(
    75% 0%,
    100% 50%,
    75% 100%,
    0% 100%,
    25% 50%,
    0% 0%
  );
  background-color: green;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  width: 20px;
  height: 20px;
}
