.weapons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weaponsPerson {
  grid-column-start: 1;
  grid-column-end: 3;
}

@media (max-width: 800px) {
  .weapons {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    row-gap: 2em;
  }
}
